@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Portforio Kryptowalutowe</h1>
    
</div>

<div>
    <br />
    <h3>Tutaj możesz wpisywać swoje tranzakcjie kryptowalutowe. </h3>
    <h6 style="color:white"> Zaloguj się aby dodać i śledzić swoje środki.</h6>

</div>