@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>https://docs.google.com/spreadsheets/d/1aR_OMWWSBLU2gGRbjCNeCZH6C3vK1AZb/edit#gid=465138245
</div>

