@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Portforio Kryptowalutowe</h1>
    
</div>

<div>
    <br />
    <p style="color:white">Tutaj możesz wpisywać swoje tranzakcjie kryptowalutowe </p>

</div>