@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="tiles">
    <div class="tiles-item"><img src="https://source.unsplash.com/1600x900/?beach" alt=""></div>
    <div class="tiles-item"><img src="https://source.unsplash.com/1600x900/?beach" alt=""></div>
    <div class="tiles-item"><img src="https://source.unsplash.com/1600x900/?beach" alt=""></div>
    <div class="tiles-item"><img src="https://source.unsplash.com/1600x900/?beach" alt=""></div>
    <div class="tiles-item"><img src="https://source.unsplash.com/1600x900/?beach" alt=""></div>
    <div class="tiles-item"><img src="https://source.unsplash.com/1600x900/?beach" alt=""></div>
    <div class="tiles-item"><img src="https://source.unsplash.com/1600x900/?beach" alt=""></div>
    <div class="tiles-item"><img src="https://source.unsplash.com/1600x900/?beach" alt=""></div>
</div>