@model Portfolio_Krypto.Models.Token

@{
    ViewData["Title"] = "Create";
}


<h1>Dodaj Token</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tokenName" class="control-label">Nazwa tokenu</label>
                <input asp-for="tokenName" class="form-control" />
                <span asp-validation-for="tokenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price_buy" class="control-label">Cena</label>
                <input asp-for="price_buy" type="number" class="form-control" />
                <span asp-validation-for="price_buy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label">Ilość</label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_buy" class="control-label">Dzień</label>
                <input asp-for="date_buy" value="@DateTime.Today.ToString("dd-MM-yyyy")" type="datetime" class="form-control" />
                <span asp-validation-for="date_buy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary" asp-action="Index">Powrót</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
